
@{
    ViewBag.Title = "Sinhvien";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sinhvien</h2>
@using (Html.BeginForm())
{
    <label>Sinh vien</label>
    <input type="text" name="Masinhvien" /> 
    <input type="text" name="Hoten" />
    <input type="submit" name="Gui dulieu" />
}
